<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
 <form action='/squads/<%=params[:squad_id]%>/students/<%= @tstudent["student_id"] %>' method='post' >
 <input type="hidden" name="_method" value = "put">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name = "name" value = <%= @tstudent["name"] %> autofocus>
    <label for="age">Age</label>
    <input type="text" class="form-control" id="age" name = "age" value = <%= @tstudent["age"] %> autofocus>
    <div class="form-group">
    <label for="spirit_animal">Spirit Animal</label>
    <input type="text" class="form-control" id="spirit_animal" name ="spirit_animal" value = <%= @tstudent["spirit_animal"] %>>
  <button type="submit" class="btn btn-default">Edit</button>
  </div>
</form>
</body>
</html>